<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <form ng-submit="submit(search)" novalidate>
      <a><h3 href="javascript:void(0)" class="form-title">{{title}}</h3></a>
      <fieldset>
        <!-- Text input-->
        <div class="form-group">
          <input ng-model="search.name_field" id="NameField" name="search[name_field]" type="text" placeholder="Card Name" class="form-control input-md">
          <input ng-model="search.text_field" id="TextField" name="search[text_field]" type="text" placeholder="Card Text" class="form-control input-md">
          <input ng-model="search.type_field" id="TypeField" name="search[type_field]" type="text" placeholder="Card Type" class="form-control input-md">
          <input ng-model="search.format_field" id="FormatField" name="search[format_field]" type="text" placeholder="Card Format" class="form-control input-md">
        </div>
        <!-- Button -->
        <div class="form-group">
          <input type="submit" id="Submit" name="Search!" class="btn"></input>
        </div>
  
      </fieldset>
    </form>
  </div>
</div>