<footer class="footer">
  <div class="container">
    <p class="text-muted">
      Wizards of the Coast, Magic: The Gathering, and their logos are trademarks of Wizards of the Coast LLC. © 2012-2014 Wizards. All rights reserved. 
      DiabolicalMTG is not affiliated with Wizards of the Coast LLC.
    </p>
  </div>
</footer>